salesforce/force-app/main/default/flows/Fetch_Order_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>as</name>
        <label>as</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderrecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>These are the details of the order placed by the user</description>
        <name>Order_Details</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Order Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{
account:{!orderrecord.Account.Name},
ContactDetails:{!orderrecord.Contact__c},
Status:{!orderrecord.Status},
Shipping Country:{!orderrecord.ShippingCountry},
Shipping City:{!orderrecord.ShippingCity},
contract Number :{!orderrecord.Contract.ContractNumber},
order Date:{!orderrecord.EffectiveDate}
Nominal Delivery Date:{!orderrecord.EndDate}
Order Amount:{!orderrecord.TotalAmount}
}
}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>only text</description>
    <environments>Default</environments>
    <interviewLabel>Fetch Order Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch Order Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Order_Number</name>
        <label>Get Order Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>as</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Number</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>OrderName entered by the user</description>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>outputToSend</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
