salesforce/force-app/main/default/flows/Get_Products_For_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Product</name>
        <label>Add Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Products For User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Products For User</label>
    <loops>
        <name>Loop_Through_Products</name>
        <label>Loop Through Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Color</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pattern__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pattern</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sizes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Size</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>color__c</queriedFields>
        <queriedFields>Pattern__c</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Sizes__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Stock__c</queriedFields>
        <queriedFields>Occasion__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Color</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pattern</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Price</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>productDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>singleProductDetails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Size</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
